.menuItem {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.85rem;
  padding: 0.6rem 1rem;
  background-color: transparent;
  position: relative;
}

.menuItem::after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 1rem;
  right: 1rem;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menuItem:hover {
  background-color: transparent;
  color: #fff;
}

.menuItem:hover::after {
  transform: scaleX(1);
}
